.waitlist-widget {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    background: var(--secondary-400);
    border-radius: 0.5rem;
}

.waitlist-widget form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
}

.waitlist-widget form input {
    flex: 1;
    padding: 0.8rem;
    border-radius: 0.25rem;
}

.waitlist-widget form [type="submit"] {
    max-width: 8rem;
}

@media screen and (min-width: 500px) {
    .waitlist-widget form {
        flex-direction: row;
    }
}