.waitlist-widget {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    background: var(--secondary-400);
    border-radius: 0.5rem;
}

.waitlist-widget form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1rem;
    width: 100%;
}

.waitlist-widget form input {
    flex: 1;
    padding: 0.8rem;
    border-radius: 0.25rem;
}