@using Calcium.Core.Schema.Widgets
@using Calcium.Toolkit.Oxide.Components

@if (Items.Any())
{
    <div class="features">
        @foreach (var item in Items)
        {
            <div class="feature">
                <i class="icon"><Emoji Name="Feature Icon" Path="@item.Icon" data-emoji-size="50" /></i>
                <h5>@item.Title</h5>
                <p>@item.Description</p>
            </div>
        }
    </div>
}

@code {
    [Parameter]
    public List<Feature> Items { get; set; } = [];

    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object>? AdditionalAttributes { get; set; }
}
