@using Calcium.Toolkit.Oxide.Layouts

@if (Parameters != null)
{
        <div class="gallery-grid">
            @for (var i = 0; i < 8; i++)
            {
                <div class="gallery-item" data-animate-scroll="fade-in">
                    <img class="gallery-image" src="@Parameters[i]" />
                </div>
            }
        </div>
}

@code {
    [Parameter]
    public string[] Parameters { get; set; } = [];

    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object>? AdditionalAttributes { get; set; }
}
