.gallery-grid {
    display: grid;
    gap: 1rem;
    gap: 0.25rem;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 30vw;
    grid-auto-flow: dense;
}

.gallery-item {
    /*border: 0.5rem solid var(--white);*/
    border-radius: 0.5rem;
    grid-row: span 1;
    overflow: hidden;
    background-color: var(--secondary-500);
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

    .gallery-item:nth-child(1) {
        grid-column: span 4;
    }

    .gallery-item:nth-child(1) img {
        aspect-ratio: 4/2;
    }

    .gallery-item:nth-child(2) {
        grid-column: span 2;
    }
        .gallery-item:nth-child(2) img {
            aspect-ratio: 2/2;
        }

    .gallery-item:nth-child(3) {
        grid-column: span 3;
        grid-row: span 2;
    }

    .gallery-item:nth-child(3) img {
        aspect-ratio: 3/4;
    }

    .gallery-item:nth-child(4),
    .gallery-item:nth-child(5) {
        grid-column: span 3;
    }

    .gallery-item:nth-child(4) img,
    .gallery-item:nth-child(5) img {
        aspect-ratio: 3/2;
    }

    .gallery-item:nth-child(6),
    .gallery-item:nth-child(7),
    .gallery-item:nth-child(8) {
        grid-column: span 2;
    }

    .gallery-item:nth-child(6) img,
    .gallery-item:nth-child(7) img,
    .gallery-item:nth-child(8) img {
        aspect-ratio: 2/2;
    }

@media screen and (min-width: 768px) {
    .gallery-grid {
        gap: 1rem;
    }
}

@media screen and (min-width: 1200px) {
    .gallery-grid {
        grid-auto-rows: calc(1200px/3);
    }
}