@using Calcium.Core.Types;

@if (Parameters != null)
{
    <section @attributes=AdditionalAttributes class="hero">

        <div class="hero-body">
            @if (!string.IsNullOrEmpty(Parameters.Title)) 
            {
                <h1 class="title contrast">@Parameters.Title</h1>
            }
            @foreach (var line in Parameters.Subtitles)
            {
                <h3 class="contrast">@line</h3>
            }

            @if (Parameters.CTA != null)
            {
                <a class="button secondary-400 mt-3" href="@Parameters.CTA.URL">@Parameters.CTA.Name</a>
            }
        </div>
    </section>
}

@code {
    [Parameter]
    public Sections.Hero? Parameters { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object>? AdditionalAttributes { get; set; }
}