.metrics-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    width: 100%;
    gap: 1rem;
}

    .metrics-items .item {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: end;

        flex: 1;

        background: var(--secondary-400);
        color: var(--secondary-contrast);
        padding: 1.25rem;
        border-radius: 0.5rem;
        min-width: 100px;
    }

    .metrics-items .item[data-featured-item] {
        background: var(--secondary-500);
    }

        .metrics-items .item .title {
            margin: 0;
        }

        .metrics-items .item .title { margin: 1.5rem 0 0; }
        .metrics-items .item .caption {
            margin: 0;
        }