@using System.Web
@using Core.Models;

@if (!string.IsNullOrEmpty(Path))
{
    <span class="animated-emoji" @attributes=AdditionalAttributes>
        <img src="@_baseURL/@Path" alt="@Name" />
    </span>
}

@code {
    private string _baseURL = "https://raw.githubusercontent.com/vnsnippets/developers-conference/master/.resources";

    private string _baseURL = "https://raw.githubusercontent.com/vnsnippets/developers-conference/master/.resources";

    [Parameter]
    public string? Path { get; set; }

    [Parameter]
    public string? Name { get; set; } = "Animated Emoji";

    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object>? AdditionalAttributes { get; set; }
}
