@using System.Web

@if (!string.IsNullOrEmpty(Path))
{
    <span class="animated-emoji" @attributes=AdditionalAttributes>
        <img src="@Path" alt="@Name" />
    </span>
}

@code {
    [Parameter]
    public string? Path { get; set; }

    [Parameter]
    public string? Name { get; set; } = "Animated Emoji";

    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object>? AdditionalAttributes { get; set; }
}
