@using Calcium.Core.Types

@if (Links.Any())
{
    <section class="social">
        <ul class="links">
            @foreach (var item in Links.OrderBy((e) => e.Index))
            {
                <li>
                    <a class="button small icon secondary-400" href="@item.URL">
                        @switch (item.Type)
                        {
                            case Channel.Facebook:
                                <Calcium.Toolkit.Assets.Facebook />
                                break;

                            case Channel.Instagram:
                                <Calcium.Toolkit.Assets.Instagram />
                                break;

                            case Channel.Github:
                                <Calcium.Toolkit.Assets.Github />
                                break;

                            case Channel.LinkedIn:
                                <Calcium.Toolkit.Assets.LinkedIn />
                                break;

                            case Channel.X:
                                <Calcium.Toolkit.Assets.X />
                                break;

                            default:
                                break;
                        }
                    </a>
                </li>
            }
        </ul>
    </section>
}

@code {
    [Parameter]
    public List<Lists.Social> Links { get; set; } = [];
}
