@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(0.25, 0.25);
        opacity: 0;
    }

    50% {
        transform: scale(1.15, 1.15);
        opacity: 1;
    }

    100% {
        transform: scale(1, 1);
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes drop-in {
    0% {
        opacity: 0;
        transform: translateY(-1rem)
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bounce {
    70%{
        transform: translateY(0%);
    }

    80% {
        transform: translateY(-35%);
    }

    90% {
        transform: translateY(0%);
    }

    95% {
        transform: translateY(-10%);
    }

    97% {
        transform: translateY(0%);
    }

    99% {
        transform: translateY(-5%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes hello {
    30% {
        transform: scale(1.05);
    }

    40%, 60% {
        transform: rotate(-20deg) scale(1.2);
    }

    50% {
        transform: rotate(20deg) scale(1.2);
    }

    70% {
        transform: rotate(0deg) scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

[data-animate-load] {
    animation: drop-in 300ms ease-in;
}

[data-animate-scroll] {
    opacity: 0;
}

.drop-in {
    animation: drop-in 300ms ease-in;
    opacity: 1;
}

.fade-in {
    animation: fade-in 300ms ease-in;
    opacity: 1;
}

[data-animate="zoom-in-zoom-out"],
.zoom-in-zoom-out {
    animation: zoom-in-zoom-out 300ms ease-in none;
    animation-delay: 300ms;
    animation-fill-mode: forwards;
}

[data-animate="hello"] {
    animation: hello 1s ease infinite;
}