/*.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--base-color);
    text-decoration: none;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    border: none;
    box-shadow: none;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.button:active {
    transform: scale(0.95);
}

.button.primary {
    background: var(--button-background-color-primary);
    color: var(--button-text-color-primary);
}

.button.primary:hover {
    background: var(--button-background-color-hover-primary);
}

.button.secondary {
    background: var(--button-background-color-secondary);
    color: var(--button-text-color-secondary);
}

.button.secondary:hover {
    background: var(--button-background-color-hover-secondary);
}*/