@import url('https://fonts.googleapis.com/css2?family=Bevan&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    /* Base Colors */
    --white: #FFF;
    --black: #000;
    /* Primary Colors */
    --primary-200: #A9BDEB;
    --primary-300: #7F9DE2;
    --primary-400: #547CD8;
    --primary-500: #295BCE;
    --primary-600: #2149A5;
    --primary-700: #19377C;
    --primary-800: #102452;
    /* Secondary Colors */
    --secondary-200: #FEF9EB;
    --secondary-300: #FEF8E6;
    --secondary-400: #FFEFBE;
    --secondary-450: #FDD788;
    --secondary-500: #FFC857;
    --secondary-600: #F6A912;
    --secondary-700: #FC8154;
    --secondary-800: #CA6743;
    /* Body Colors */
    --body-300: #A6A8A9;
    --body-400: #646669;
    --body-500: #212529;
    --body-600: #171A1D;
    --body-700: #0D0F10;
    /* Contrast Colors */
    --primary-contrast: #FFF;
    --secondary-contrast: #212529;
    --body-contrast: #FFF;
    /* Gradient Colors */
    --gradient-highlight-stop-1: #F6A912;
    --gradient-highlight-stop-2: #FC8154;
    /* Border Radius*/
    --border-radius: 0.25rem;
    /* Margins */
    --margin-500: 5rem;
    --margin-400: 3rem;
    --margin-300: 2rem;
    --margin-200: 1rem;
    --margin-100: 0.5rem;
    /* Font Sizes */
    /*--fs-600: 1.75rem;
    --fs-550: 1.625rem;
    --fs-500: 1.375rem;
    --fs-400: 1.25rem;
    --fs-300: 1.15rem;
    --fs-200: 1rem;
    --fs-150: 1rem;
    --fs-100: 1rem;
    --fs-50: 0.65rem;*/
    --fs-600: 2rem;
    --fs-550: 1.625rem;
    --fs-500: 1.625rem;
    --fs-400: 1.375rem;
    --fs-300: 1.25rem;
    --fs-200: 1.15rem;
    --fs-150: 1rem;
    --fs-100: 1rem;
    --fs-50: 0.65rem;
    /* Line Heights */
    --lh-600: 1.25;
}

html {
    min-width: 360px;
    font-family: 'Ubuntu', 'Segoe UI', -apple-system, BlinkMacSystemFont, Geneva, Verdana, sans-serif;
    font-size: var(--fs-100);
    font-weight: 400;
    line-height: 1.4;
    color: var(--body-500);
    scroll-behavior: smooth;
}

@media screen and (min-width: 425px) {
    :root {
        /* Font Sizes */
        --fs-600: 2rem;
        --fs-550: 1.75rem;
        --fs-500: 1.625rem;
        --fs-400: 1.375rem;
        --fs-300: 1.25rem;
        --fs-200: 1.15rem;
        --fs-150: 1rem;
        --fs-100: 1rem;
        --fs-50: 0.65rem;
    }
}

@media screen and (min-width: 768px) {
    :root {
        /* Font Sizes */
        --fs-600: 3rem;
        --fs-550: 2.85rem;
        --fs-500: 2.4rem;
        --fs-400: 1.9rem;
        --fs-300: 1.5rem;
        --fs-200: 1.25rem;
        --fs-150: 1.10rem;
        --fs-100: 1rem;
        --fs-50: 0.85rem;
    }
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin: 0;
}

h1, h1 * { 
    font-size: var(--fs-600);
}
h2 {
    font-size: var(--fs-500);
}
h3 {
    font-size: var(--fs-400);
}
h4 {
    font-size: var(--fs-300);
}
h5 {
    font-size: var(--fs-200);
}
h6 {
    font-size: var(--fs-100);
}

p {
    font-size: var(--fs-100);
    margin: 0;
}

small {
    font-size: var(--fs-50);
}

/* Buttons */
.button {
    border-radius: var(--border-radius);
    padding: 0.75rem 1rem;
    font-weight: 600;
    font-size: var(--fs-100);

    display: flex;
    align-items: center;
    justify-content: center;
    
    text-decoration: none;
    cursor: pointer;

    opacity: 1;
    transition: all 0.2s ease-out;
}

.button:hover {
    transform: scale(1.05);
}

.button:active {
    transform: scale(0.95);
    opacity: 0.95;
}

.button.icon {
    padding: 0.5rem;
}

.button.icon svg {
    width: 1.5rem;
    height: 1.5rem;
}

.button.small {
    padding: 0.75rem;
}


.button.small.icon {
    padding: 0.5rem;
}

.button.small.icon svg {
    width: 1.313rem;
    height: 1.313rem;
}

/* Primary Styles */
/* - Primary Background Styles - */
.bg-primary-300 {
    background-color: var(--primary-300);
    color: var(--primary-contrast);
}

.bg-primary-400 {
    background-color: var(--primary-400);
    color: var(--primary-contrast);
}

.bg-primary, .bg-primary-500 {
    background-color: var(--primary-500);
    color: var(--primary-contrast);
}

.bg-primary-600 {
    background-color: var(--primary-600);
    color: var(--primary-contrast);
}

.bg-primary-700 {
    background-color: var(--primary-700);
    color: var(--primary-contrast);
}

/* - Primary Button Styles - */

.button.primary-300 {
    background-color: var(--primary-300);
    color: var(--primary-contrast);
}

.button.primary-400 {
    background-color: var(--primary-400);
    color: var(--primary-contrast);
}

.button.primary, .button.primary-500 {
    background-color: var(--primary-500);
    color: var(--primary-contrast);
}

.button.primary-600 {
    background-color: var(--primary-600);
    color: var(--primary-contrast);
}

.button.primary-700 {
    background-color: var(--primary-700);
    color: var(--primary-contrast);
}

/* -- Primary Button Hover & Active Styles -- */
.button.primary-300:hover,
.button.primary-300:active {
    background-color: var(--primary-500);
    color: var(--primary-contrast);
}

.button.primary-400:hover,
.button.primary-400:active {
    background-color: var(--primary-600);
    color: var(--primary-contrast);
}

.button.primary:hover, .button.primary-500:hover,
.button.primary:active, .button.primary-500:active {
    background-color: var(--primary-700);
    color: var(--primary-contrast);
}

.button.primary-600:hover,
.button.primary-600:active {
    background-color: var(--primary-800);
    color: var(--primary-contrast);
}

.button.primary-700:hover,
.button.primary-700:active {
    background-color: var(--primary-800);
    color: var(--primary-contrast);
}

/* - Primary Text Styles - */
.primary-300 {
    color: var(--primary-300);
}

.primary-400 {
    color: var(--primary-400);
}

.primary, .primary-500 {
    color: var(--primary-500);
}

.primary-600 {
    color: var(--primary-600);
}

.primary-700 {
    color: var(--primary-700);
}

/* Secondary Styles */
/* - Secondary Background Styles - */
.bg-secondary-300 {
    background-color: var(--secondary-300);
    color: var(--secondary-contrast);
}

.bg-secondary-400 {
    background-color: var(--secondary-400);
    color: var(--secondary-contrast);
}

.bg-secondary, .bg-secondary-500 {
    background-color: var(--secondary-500);
    color: var(--secondary-contrast);
}

.bg-secondary-600 {
    background-color: var(--secondary-600);
    color: var(--secondary-contrast);
}

.bg-secondary-700 {
    background-color: var(--secondary-700);
    color: var(--secondary-contrast);
}

/* - Secondary Button Styles - */
.button.secondary-300 {
    background-color: var(--secondary-300);
    color: var(--secondary-contrast);
}

.button.secondary-400 {
    background-color: var(--secondary-400);
    color: var(--secondary-contrast);
}

.button.secondary, .button.secondary-500 {
    background-color: var(--secondary-500);
    color: var(--secondary-contrast);
}

.button.secondary-600 {
    background-color: var(--secondary-600);
    color: var(--secondary-contrast);
}

.button.secondary-700 {
    background-color: var(--secondary-700);
    color: var(--secondary-contrast);
}

/* -- Secondary Button Hover & Active Styles -- */
.button.secondary-300:hover,
.button.secondary-300:active {
    background-color: var(--secondary-400);
    color: var(--secondary-contrast);
}

.button.secondary-400:hover,
.button.secondary-400:active {
    background-color: var(--secondary-500);
    color: var(--secondary-contrast);
}

.button.secondary:hover, .button.secondary-500:hover,
.button.secondary:active, .button.secondary-500:active {
    background-color: var(--secondary-600);
    color: var(--secondary-contrast);
}

.button.secondary-600:hover,
.button.secondary-600:active {
    background-color: var(--secondary-700);
    color: var(--secondary-contrast);
}

.button.secondary-700:hover,
.button.secondary-700:active {
    background-color: var(--secondary-800);
    color: var(--secondary-contrast);
}

/* - Secondary Text Styles - */
.secondary-300 {
    color: var(--secondary-300);
}

.secondary-400 {
    color: var(--secondary-400);
}

.secondary, .secondary-500 {
    color: var(--secondary-500);
}

.secondary-600 {
    color: var(--secondary-600);
}

.secondary-700 {
    color: var(--secondary-700);
}

/* Body Styles */
.bg-body-300 {
    background-color: var(--body-300);
    color: var(--body-contrast);
}

.bg-body-400 {
    background-color: var(--body-400);
    color: var(--body-contrast);
}

.bg-body, .bg-body-500 {
    background-color: var(--body-500);
    color: var(--body-contrast);
}

.bg-body-600 {
    background-color: var(--body-600);
    color: var(--body-contrast);
}

.bg-body-700 {
    background-color: var(--body-700);
    color: var(--body-contrast);
}

.body-300 {
    color: var(--body-300);
}

.body-400 {
    color: var(--body-400);
}

.body, .body-500 {
    color: var(--body-500);
}

.body-600 {
    color: var(--body-600);
}

.body-700 {
    color: var(--body-700);
}

.contrast {
    color: var(--body-contrast);
}

/* Margins */
.mt-5 { margin-top: var(--margin-500); }
.mt-4 { margin-top: var(--margin-400); }
.mt-3 { margin-top: var(--margin-300); }
.mt-2 { margin-top: var(--margin-200); }
.mt-1 { margin-top: var(--margin-100); }

.mb-5 { margin-bottom: var(--margin-500); }
.mb-4 { margin-bottom: var(--margin-400); }
.mb-3 { margin-bottom: var(--margin-300); }
.mb-2 { margin-bottom: var(--margin-200); }
.mb-1 { margin-bottom: var(--margin-100); }