@inherits LayoutComponentBase

@using Calcium.Core
@using Calcium.Toolkit.Oxide.Components
@using Calcium.Toolkit.Oxide.Sections

<nav class="navigation">
    <div class="container">
        <div class="brand">
            <a href="@Site.Brand.URL">
                <img src="@Site.Brand.ImagePath" alt="@Site.Brand.Label" />
            </a>
        </div>

        @if (Links.Any())
        {
            <section class="social">
                <ul class="links">
                    @foreach (var item in Links.OrderBy((e) => e.Index))
                    {
                        <li>
                            <a class="button small icon secondary-400" href="@item.URL">
                                <Vector Type="item.Type" />
                            </a>
                        </li>
                    }
                </ul>
            </section>
        }
    </div>
</nav>

<section class="content">
    @Body
</section>

<Footer Message="DEVELOPMENT IN PROGRESS | VIDUSH H. NAMAH" />

@code {
    public List<Calcium.Core.Types.Lists.Social> Links = Site.Menus.Social;
}