<section @attributes="AdditionalAttributes" data-layout="section-with-title">
    <div class="title-box">
        <h3 class="title">@Title</h3>
        <p class="caption">@Caption</p>
    </div>

    <div class="content-box">
        @ChildContent
    </div>
</section>

@code {
    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public string Caption { get; set; } = string.Empty;


    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object>? AdditionalAttributes { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}