.hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 1rem;
    overflow: hidden;
    padding-top: 6rem;
    min-height: 30rem;
}

    .hero h1 {
        background: linear-gradient(to right, #54acff, #b676fe);
        background-clip: text;
        text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        font-family: 'Bevan', 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: var(--lh-600);
        font-weight: 400;
        max-width: 30rem;
        margin: 0 1rem 2rem;
        text-transform: uppercase;
        word-break: break-word;
        text-align: center;
        word-wrap: break-word;
    }

    .hero h3 {
        color: var(--white);
        margin: 0;
    }


    .hero::before {
        background-image: var(--background-image);
        background-size: cover;
        background-position: bottom center;

        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .hero .overlay {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero .hero-body {
        display: flex;
        align-items: center;
        flex-direction: column;
        animation: zoom-in-zoom-out 500ms ease-in-out;
        z-index: 1;
    }

.hero .hero-body h1 .inline-block {
    display: block;
}

.hero .hero-body h1 .emoji-inline img {
    width: var(--fs-600);
    height: var(--fs-600);
}

    .hero .hero-body h1 .emoji-inline img {
        margin-right: -0.25rem;
        margin-left: 0.25rem;
        margin-bottom: -0.2rem;
    }

    .hero .hero-body .cta-container {
        margin-top:var(--margin-400);
    }

            @media screen and (min-width: 768px) {
                .hero .hero-body h1 .emoji-inline img {
                    margin-right: -0.5rem;
                    margin-left: 0.25rem;
                    margin-bottom: -0.25rem;
                }
            }