@page "/"

@using Calcium.Core
@using Calcium.Toolkit.Oxide.Sections
@using Calcium.Toolkit.Oxide.Widgets
@using Calcium.Web.Sections

<PageTitle>Calcium | Home</PageTitle>

<Header Title=@Site.Sections.Hero.Title Caption=@Site.Sections.Hero.Captions CTA=@Site.Sections.Hero.CTA />
<Countdown Parameters="@Site.Widgets.Countdown" data-animate-load />
<Subscriptions id="section-cta" Parameters="@Site.Sections.Subscriptions" data-animate-scroll="drop-in" />

<section id="section-throwback">
    <Metrics id="section-metrics" Parameters="@Site.Sections.Metrics" data-animate-scroll="drop-in" />
    <Gallery id="section-gallery" Parameters="@Site.Sections.Gallery" data-animate-scroll="drop-in" />
</section>