@page "/"

@using Calcium.Core
@using Calcium.Toolkit.Oxide.Sections
@using Calcium.Toolkit.Oxide.Widgets
@using Calcium.Web.Sections

<PageTitle>Calcium | Home</PageTitle>

<Header Parameters="@Site.Sections.Hero">
    <Countdown Parameters="@Site.Widgets.Countdown" data-animate-load />
</Header>

<section id="section-throwback">
    @{ var _metrics = Site.Sections.Metrics; }
    <Metrics Title=@_metrics.Title Caption=@_metrics.Caption Items=@_metrics.Content data-animate-scroll="drop-in" />
    
    @{ var _gallery = Site.Sections.Gallery; }
    <Gallery Parameters="@_gallery" data-animate-scroll="drop-in" />
</section>


@{ var _subscriptions = Site.Sections.Subscriptions; }
<Subscriptions Title=@_subscriptions.Title Caption=@_subscriptions.Caption Items=@_subscriptions.Content data-animate-scroll="drop-in">
    @{ var _waitlist = Site.Widgets.Waitlist; }
    <WaitlistCallToAction Parameters=@_waitlist />
</Subscriptions>